@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');


body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
  }


.logo {
  padding-top: 2%;
}

.tag-entry .entry-cover {
  display: flex;
}

img[src$='#wide'] {
  display: block;
  width: 100vw;
  max-width: none;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 0;
}

#hero-img {
  display: block;
  width: 100vw;
  max-width: none;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 0;
}

.main {
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  /* I changed max-width from * 2 to * 12 to widen the main content on the pages. */
  max-width: calc(var(--main-width) + var(--gap) * 12); 
  margin: auto;
  padding: var(--gap);
}

.nav {
  max-width: calc(var(--nav-width) + var(--gap) * 12);
}

#menu .active {
  font-weight: bold;
}

.banner {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: orange;
}

.banner p {
  width: 100%;
  margin: 0;
  font-weight: bold;
  text-align: center;
  padding: .6%;
}
.banner a {
  border-style: outset;
  border-color: rgb(50, 50, 139);
  padding: .3%;
  color: rgb(50, 50, 139);
  transition: ease-in-out;
  transition-duration: .2s;
}

.banner a:hover {
  color: aliceblue;
  border-color: aliceblue;
  border-style: inset;
}

/* padding-bottom is aspect ratio */
.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}