{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap" rel="stylesheet">

<div class="banner">
    <p><span>Register for the all-day event on March 2nd! <a href="https://regeneratetampabay.eventbrite.com"rel="noopener" target="_blank">Get Tickets</a></span></p>
</div>

{{- /* Head custom content area end */ -}}
