{{- with site.Params.homeInfoParams }}
<img src="/img/mainpromo.jpg" alt="" id="hero-img">

<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }} <vue-typer
            :text='["business","home","community"]'
            :repeat='Infinity'
            :shuffle='false'
            initial-action='typing'
            :pre-type-delay='70'
            :type-delay='70'
            :pre-erase-delay='2000'
            :erase-delay='30'
            erase-style='backspace'
            :erase-on-complete='false'
            caret-animation='expand'
          ></vue-typer></h1> 
    </header>
    <div class="entry-content">
        <h3></h3>
    </div>
    <div class="post-content">
        <h3>Join us for a day of inspiring, life-centered experiences, workshops and panels.
        </h3> 

        <p>Expert Panel Discussions: Elder Wisdom, Food Systems, Land and Water Use, Regenerative Business.
            <br>
            <br>
            Intergenerational workshops for the whole family.
            <br>
            <br>
            Hands-on educational workshops including rainwater harvesting and learning from nature.
            <br>
            <br>
            Introduction to Permaculture with Bill Bilodeau
            <br>
            <br>
            Zone 00: Tend to your inner landscape with the Zone 00 tent. Thai massage, somatic breathwork, sound healing, and other inner soil workshops.
            <br>
            <br>
            Fireside chat.
            <br>
            <br>
            Toy Swap.
            <br>
            <br>
            Music and dancing.
            <br>
            <br>
            Come to connect with others, learn from all generations, and experience a day of life-centered inspiration!</p>

        <h3>Space is limited! Register on Eventbrite: <a href="https://www.eventbrite.com/e/regenerate-tampa-bay-tickets-800092467107"rel="noopener" target="_blank">https://www.eventbrite.com/e/regenerate-tampa-bay-tickets-800092467107</a></h3>

    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>

<h2>Latest Information</h2>
<br>
{{- end -}}
