{{- with site.Params.homeInfoParams }}
{{/*  <img src="/img/mainpromo.jpg" alt="" id="hero-img">  */}}

<article class="first-entry home-info">
    <header class="entry-header">
    </header>
    <div class="entry-content">
    </div>

    <div class="post-content">
    </div>
    
    <div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d571.068171477878!2d-82.56109525588958!3d27.999097323932883!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2c3642f91db65%3A0xdcab076ca483b3d8!2sSweetwater%20Parking%20for%20Sunday%20Market!5e0!3m2!1sen!2sus!4v1708734126100!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>

<h2>Latest Information</h2>
<br>

{{- end -}}
