{{- with site.Params.homeInfoParams }}
<img src="/img/banner.jpg" alt="" class="hero-image">

<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1> 
    </header>
    <div class="entry-content">
        <h3>Find out how you or your business can be a part of the Regeneration.</h3>
    </div>
    <div class="post-content">
        <h3>Pick the low hanging fruit...</h3> 

        <p>Through the <a href="services/#inflation-reduction-act-guidance">Inflation Reduction Act</a> of 2022, and other State, local, and utility incentives, renewable energy and energy efficiency projects are more profitable than ever.  We provide holistic consulting to identify the right projects, document and qualify for tax incentives and grants, develop RFPs to select the right partners, and manage the projects through completion.  </p>

        <h3>...and plant the seeds.</h3>

        <p>We help you identify the opportunities to create life on the land and water that you steward.  Through regenerative practices, your business can protect natural resources, create habitat for beautiful biodiversity, and sequester tons of carbon.  Often these projects can be completed for less money than current landscaping or capital improvement budgets, creating life through your business in a cost-effective while helping you tell an authentic environmental story.  
            
        <a href="services/#inflation-reduction-act-guidance">Click here to learn more.</a></p>

    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
